<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Forgot Password page </title>
    <link rel="stylesheet" href="resetpassword.component.css">
</head>

<body>
    <div class="formbox">
        <form class="reset-form" *ngIf="isAuth" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <h2>Enter your new password</h2>
            <input name=password type="password" placeholder="New password" [(ngModel)]="passFields.password" required>
            <input name=password2 type="password" placeholder="Repeat new password" [(ngModel)]="passFields.password2" required>
            <button type="submit">Submit</button>
            <p class="error-message" *ngIf="existError" [innerHTML]="errorMessage"></p>
        </form>
        <div id="success" class="success" *ngIf="successful">
            <div class="success-content">
                <p class="successful-message" *ngIf="successful">Your password has been successfully changed.
                <br><br> Now you can access your account with your new password and enjoy all our services.</p>
                <img src="/assets/resources/check.png">
            </div>
        </div>
        <div class="error-content" *ngIf="!isAuth">
            <p class="error-message">Your link has expired, please try again.</p>
            <img src="/assets/resources/remove.png">
        </div>
    </div>
    
</body>

</html>