<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies Page</title>
    <link rel="stylesheet" type="text/css" href="hobbies.component.css">
</head>


<!-- Estructura -->
<body>
    <div class="row">
        <div class="col-sm-2">
            <app-navbar />
        </div>

        <div class="col-sm-10">
            <h1 class="d-flex align-items-center justify-content-center">
                SocialHub
            </h1>
            <!-- Feed content -->
            <p>hobbies works!</p>
        </div>

    </div>
</body>

</html>